{% extends 'base.html' %}
{% load static %}
{% block content %}

<div
  class="page-heading header-text"
  style="background-image: url('{% static 'styles/images/about-fullscreen-image-1-1920x600.jpg' %}');"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Create Offer</h1>
        <span>Create your offer right now and you can make some money!</span>
      </div>
    </div>
  </div>
</div>
<br />
<div id="register-component" class="container">
  <form method="post" action="{% url 'create-offer' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row" >
      {% for field in form %}
        <div class="col-md-6 mb-3">
          <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
              <div class="text-danger">
                {{ field.errors }}
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <br />
   <button
  type="submit"
  style="
    display: flex;
    margin: 0 auto;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px; /* Adjust width as needed */
  "
>
  Create
</button>
  </form>
</div>
<br />
<br />

{% endblock %}
