{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Cars</h1>
            <span>Choose what you think is the best for you!</span>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">
         {% for offer in offers %}
        <div class="col-md-4">
            <div class="service-item">
                <img width="250px" height="300px" src="{{ offer.image.url }}" alt="{{ offer.title }}">
                <div class="down-content">
                    <h4>{{ offer.title }}</h4>
                    <div style="margin-bottom:10px;">
                        <span>
                            {% if offer.discounted_price %}
                            <del><sup>$</sup>{{ offer.price }}</del> &nbsp;

                            <sup>$</sup>{{ offer.discounted_price }}
                            {%else%}
                             <sup>$</sup>{{ offer.price }}
                            {%endif%}
                        </span>
                    </div>
                    <p>
                        <i class="fa fa-dashboard"></i> {{ offer.mileage }} km &nbsp;&nbsp;&nbsp;
                    </p>
                    <a href="{% url 'details-offer' offer.pk %}" class="filled-button">View More</a>
                </div>
            </div>
            <br>
        </div>
    {% endfor %}
       </div>
      </div>
    </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}