{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>About Us</h1>
            <span>We have over 20 years of experience</span>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info about-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>Lorem ipsum dolor sit amet</span>
                    <h2>Get to know about <em>our company</em></h2>
                   <p>Welcome to Auto Vista, your trusted partner in the automotive world. At Auto Vista, we pride ourselves on offering a wide selection of high-quality vehicles, tailored to meet the needs of every driver. Whether you're looking for a compact car for city driving or a spacious family vehicle, we have something for everyone. Our experienced team is dedicated to providing exceptional customer service and making your car buying experience seamless and enjoyable.</p>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="{% static 'styles/images/about-1-570x350.jpg' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fun-facts">
   <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="left-content">
                <span>Welcome to Auto Vista</span>
                <h2>Quality Cars, Exceptional Service <em>Driven by Passion</em></h2>
                <p>At Auto Vista, we strive to bring you the best selection of cars, offering reliability and comfort for every journey. With years of experience in the industry, we are committed to providing exceptional customer service and a hassle-free car buying experience.
                <br><br>Whether you’re looking for a family vehicle or a stylish city car, our team is here to help you find the perfect match. We’re proud to offer a wide variety of cars and personalized solutions for every driver.</p>
            </div>
        </div>
        <div class="col-md-6 align-self-center">
            <div class="row">
                <div class="col-md-6">
                    <div class="count-area-content">
                        <div class="count-digit">100,000</div>
                        <div class="count-title">Miles Driven</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="count-area-content">
                        <div class="count-digit">1,280</div>
                        <div class="count-title">Happy Clients</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="count-area-content">
                        <div class="count-digit">12</div>
                        <div class="count-title">Cities Served</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="count-area-content">
                        <div class="count-digit">26</div>
                        <div class="count-title">Cars Sold</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

{% endblock %}