{% extends 'base.html' %}
{% block content %}

      <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Your Trusted Car Dealership!</h6>
<h4>Quality You Deserve, <br> Service You Trust</h4>
<p>At Auto Vista, we specialize in offering top-quality vehicles that suit every lifestyle and budget. Our dedicated team is here to ensure a seamless and satisfying car-buying experience. Drive home your dream car today!</p>

                  <a href="{% url 'offers' %}" class="filled-button">Cars</a>
                </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}